{{#sticky-header offset=offset}}
  <h3>
    {{topicTitle}} {{#if search.loading}}<small>(searching)</small>{{/if}}
  </h3>
{{/sticky-header}}

{{#each content as |project|}}
  {{yield project}}
{{else}}
  <p class="none">{{yield to="inverse"}}</p>
{{/each}}
