<header>
{{#if topicTitle}}
	<h3>{{topicTitle}} {{#if search.loading}}<small>(searching)</small>{{/if}}</h3>
{{/if}}
</header>
{{#each content as |project|}}
  {{yield project}}
{{else}}
  <p class="none">{{yield to="inverse"}}</p>
{{/each}}
