<div class="swiper-wrapper">
  {{#each slides as |slide|}}
    {{#swiper-slide _tagName="picture"}}
      {{yield slide}}
    {{/swiper-slide}}
  {{/each}}
</div>

{{#if hasPagination}}
  <div class="swiper-pagination"></div>
{{/if}}

{{#if hasNavigation}}
  <div class={{nextElClass}}></div>
  <div class={{prevElClass}}></div>
{{/if}}
