@import "settings";

#{$ember-base} {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	flex: 0 1 auto;

	display: flex;
	flex-direction: row;
	min-height: 8rem;
	padding-bottom: 1rem;
	align-items: flex-end;
	margin-bottom: 1rem;

	.logo {
		flex: 0 1 128px;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: -1rem;
	}

	nav, div {
		flex: 1 1 50%;
	}
}

section[role="main"] {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	// overflow: hidden;
	& > article {
		flex: 1 0 auto;
		background-color: #ff0;
		overflow: auto;
	}
	&.detail article {
		// min-height: 50vh;
	}
	& > section {
		display: flex;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

footer {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	max-height: 32px;
	img {
		max-height: inherit;
	}
	& > * {
		max-height: inherit;
		display: inline;
		padding: 0 .5rem;
	}
}