@import "settings";
$header-height: 8rem;

// Ember specifics:
body {
	overflow: hidden;
}

#{$ember-base} {
	// overflow-y: scroll;
	height: 100%;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#{$ember-base} > header {
  display: flex;
	flex-direction: row;
  align-items: center;

	width: 100vw;
	height: $header-height;
	padding: 1rem 1rem;

  background-color: #FFF;

	.logo {
		z-index: 1;
		flex: 0 1 128px;
	}

	nav, div {
		flex: 1 1 60%;
	}
}

section[role="main"] {
	overflow: hidden;
  height: calc(100vh - #{$header-height});
	max-width: 1920px;

	display: flex;
	flex-direction: column;

	& > article {
    flex: 0 1 calc(100vh - 26rem);;
    overflow: auto;
    width: 100%;
	}
	& > section.streams {
		display: flex;
    overflow: hidden;
    // Make sure it always spans the available height for offset calculations
    flex: 1 1 auto;
	}
}

footer {
	position: fixed;
	bottom: 1rem;
  right: 0;
	max-height: 32px;
}
