header {
	background-color: #f00;
}

nav {
	background-color: #0f0;
}

.search-field {
	background-color: #77f;
}

li {
	background-color: #0ff;
}

section[role="main"] {
	background-color: #f0f
}

footer {
	background-color: #0ff;
}

.results {
	&:nth-child(even) {
		background-color: rgba(127,127,127,.5);
	}
}