[role="main"].home > article {
	height: 0;
	padding: 0;
	margin: 0;
}
[role="main"].detail > article {
	height: 50vh;
}

@media all and (max-width: 600px) and (orientation:portrait) {
	section[role="main"].detail > article {
		height: calc(80vh - 3rem) !important;
		flex-direction: column;
		top: 6rem;
		display: block;
		padding: 4rem 0;
		padding-top: 0;
		img {
			height: 42vh;
		}
		.info {
			margin-top: 1rem;
			height: auto;
			margin-bottom: 0rem;
		}
	}
}

[role="main"] > article {
	transition: height .25s;

	overflow: hidden;
	display: flex;
	position: fixed;
	top: 6rem;
	padding: 4rem 0;
	width: 100%;
	z-index: 1;
	background-color: #FFF;

	.slides {
		flex: 1 1 50%;
		img {
			// height: auto;
			max-height: 100%;
			margin: 0 auto;
			display: block;
		}
	}

	.info {
		padding: 0 2vmin;
		flex: 0 1 50%;
		overflow-y: auto;
		height: calc(100% + 2rem);
		margin-bottom: -2rem;
		h1 { font-size: 2rem; margin: 0; }
		h2 { font-size: 1rem; font-weight: 600; }
		font-weight: lighter;
	}
}
