@media all and (max-width: 600px) and (orientation:portrait)
{
	body > div[id^=ember] > header {
		display: block;
		// padding-top: 1rem;
		nav {
			float: left;
		}
		.logo {
			float: right;
		}
		.search-bar {
			display: none;
			float: right;
		}
	}

  section[role="main"].detail > article {
		height: calc(80vh - 3rem) !important;
		flex-direction: column;
		top: 6rem;
		display: block;
		padding: 4rem 0;
    padding-top: 0;
    .slides {
      .swiper-wrapper {
        align-items: center;
      }
      &, .swiper-wrapper, .swiper-slide, img {
        max-height: 42vh;
      }
      .video-js {
        background-color: black;
      }
      .swiper-slide {
        padding-left: 0;
        padding-right: 0;
      }
    }
		.info {
			height: auto;
		}
	}
}
