.results {
	flex: 1 1 25%;
	// overflow-y: auto;
	img {
		width: calc(100% - 10px);
	}
	figure {
		position: relative;
		&:hover {
			caption {
				opacity: 1;
			}
		}
	}
	caption {
		transition: opacity .25s ease-out;
		opacity: 0;
		position: absolute;
		bottom: 0;
		display: block;
		max-width: inherit;
		text-align: left;
		padding: 1rem;
	}
}
