.project-stream {
	flex: 1 1 auto;
	overflow-y: auto;
  background-color: #FFF;

	padding: 0 .2vmin;

	&.no-results {
		display: none;
	}

	header {
    z-index: 99999;
    // transform: translateZ(0);
		padding: 0 .2rem;

    font-weight: lighter;
    background-color: white;
		small {
			float: right;
		}
	}

	.none {
		padding: 0 1rem;
	}

	.project.card {
		img {
			width: calc(100%);
			display: block;
		}
		figure {
			position: relative;
			&:hover caption {
				opacity: 0.8;
			}
		}
		caption {
			pointer-events: none;
			font-size: 2vmin;
			background-color: #FFF;
			transition: opacity .25s ease-in-out;
			opacity: 0;
			position: absolute;
			$pad: 2vmin;
			top: $pad; bottom: $pad; left: $pad; right: $pad;
			text-align: center!important;
			display: block;
			max-width: inherit;
			text-align: left;
			padding-top: 6vmin;
		}
	}
}
