<section role="info">
 	<p>
 		The main goal of the Muthesius University in Kiel is to promote art, design and spatial strategies via research and development projects as a focal point for work and intellectual debates. As the only art university in the State of Schleswig-Holstein, the Muthesius is not only a place to develop culturally relevant biographies but with its project studies also a place of particular experimentation and realisation. To a certain extent, the profile of the Master’s programme represents study courses and development possibilities for students unique in the Federal Republic of Germany.
 	</p>
 	<a href="https://www.muthesius.de" target="blank" class="back-to-mu">
		Read more at the Muthesius Website.
	</a>
</section>