<section role="info">
	<h1>Send us your portfolio!</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae doloremque animi ex soluta et quod, est odio molestias accusamus sit natus error, nisi eveniet fugit architecto, eos voluptate incidunt harum.
	</p>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum magni architecto sapiente ipsa harum commodi odio ipsam autem repellat, sequi soluta reiciendis quod dolor eveniet, ex tempora voluptatum eum, ab.
	</p>
	<a href="mailto:hello@muid.sh?subject=hello">hello@muid.sh</a>
</section>