<header>
	{{!-- make component --}}
	<nav>
		<a href="#">BA</a>
		<a href="#">MA</a>
		<a href="#">News</a>
		<a href="#">Apply</a>
	</nav>
	<div class="muid logo">
		<img src="images/logo/muid-square-flat-small.png">
	</div>
	{{!-- make component --}}
	<div class="muid search-field">
		{{input type="search"}}
		<button>?</button>
	</div>
</header>

<section role="main">
{{outlet}}
</section>

<footer>
	<a href="#">imprint</a>
	<img src="images/muthesius-logo.png" alt="Muthesius Academy of Fine Arts & Design">
</footer>
